#include "resource.h"
#include <windows.h>

APP_ICON ICON "redline.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x40004
FILETYPE 0x1 {
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
            VALUE "CompanyName", "Beyond Games, Inc."
            VALUE "FileDescription", "wheels"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "wheels"
            VALUE "LegalCopyright", "Copyright \xA9 1996"
            VALUE "OriginalFilename", "Wheels.exe"
            VALUE "ProductName", "Beyond Games, Inc. Wheels"
            VALUE "ProductVersion", "1, 0, 0, 1"
        }
    }

    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04B0
    }
}

WAV_SWITCH4 WAVE "WAV_SWITCH4.wav"

// Launcher bitmaps
BMP_LAUNCHER_HEADER BITMAP DISCARDABLE "launcher_header.bmp"

BMP_LAUNCHER_QUIT_PRESSED BITMAP "launcher_quit_pressed.bmp"
BMP_LAUNCHER_QUIT BITMAP "launcher_quit.bmp"
BMP_LAUNCHER_PLAY BITMAP "launcher_play.bmp"
BMP_LAUNCHER_PLAY_PRESSED BITMAP "launcher_play_pressed.bmp"
BMP_LAUNCHER_DISPLAY BITMAP "launcher_display.bmp"
BMP_LAUNCHER_DISPLAY_PRESSED BITMAP "launcher_display_pressed.bmp"
BMP_LAUNCHER_TROUBLESHOOT BITMAP "launcher_troubleshoot.bmp"
BMP_LAUNCHER_TROUBLESHOOT_PRESSED BITMAP "launcher_troubleshoot_pressed.bmp"

BMP_LAUNCHER_MPLAYER BITMAP "launcher_mplayer.bmp"
BMP_LAUNCHER_MPLAYER_PRESSED BITMAP "launcher_mplayer_pressed.bmp"
BMP_LAUNCHER_GAMESPY BITMAP "launcher_gamespy.bmp"
BMP_LAUNCHER_GAMESPY_PRESSED BITMAP "launcher_gamespy_pressed.bmp"
BMP_LAUNCHER_HEAT BITMAP "launcher_heat.bmp"
BMP_LAUNCHER_HEAT_PRESSED BITMAP "launcher_heat_pressed.bmp"

// Launcher dialog
DIAG_LAUNCHER DIALOG 0, 0, 195, 207
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Redline"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Arial"
{
   CONTROL "&Play Redline", BTN_LAUNCHER_PLAY, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 89, 191, 29 
   CONTROL BMP_LAUNCHER_HEADER, -1, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 39, 1, 118, 89 
   CONTROL "&display", BTN_LAUNCHER_DISPLAY, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 118, 191, 31 
   CONTROL "&TroubleShooting", BTN_LAUNCHER_TROUBLESHOOT, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 147, 191, 29 
   CONTROL "&quit", BTN_LAUNCHER_QUIT, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 176, 191, 29 
   CONTROL "Play Redline on &mplayer.com!", BTN_LAUNCHER_MPLAYER, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 31, 1, 1 
   CONTROL "Play Redline on &Gamespy", BTN_LAUNCHER_GAMESPY, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 1, 1, 1 
   CONTROL "Play Redline on &heat.com!", BTN_LAUNCHER_HEAT, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 60, 1, 1 
}

// Settings dialog
DIAG_SETTINGS DIALOG 0, 0, 125, 164
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Redline Display Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL APP_ICON, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 100, 3, 20, 20 
   CONTROL "Display Device", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 13, 51, 8 
   CONTROL "", LST_SETTINGS_DISPLAY_DEVICE, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 3, 24, 119, 30 
   CONTROL "Screen Resolution", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 61, 61, 8 
   CONTROL "", LST_SETTINGS_SCREEN_RESOLUTION, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 3, 71, 119, 55 
   CONTROL "&Advanced Options", BTN_SETTINGS_ADVANCED, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 132, 119, 14 
   CONTROL "&Done", BTN_SETTINGS_DONE, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 147, 119, 14 
}


// Advanced settings dialog
DIAG_ADVANCED DIALOG 0, 0, 185, 146
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Redline Advanced Settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "Special Effects", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 0, 49, 8 
   CONTROL "Fog", CHK_ADVANCED_FOG, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 9, 28, 10 
   CONTROL "Chrome", CHK_ADVANCED_CHROME, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 18, 41, 10 
   CONTROL "Ground Lighting", CHK_ADVANCED_GROUND_LIGHTING, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 27, 70, 10 
   CONTROL "Shadows", CHK_ADVANCED_SHADOWS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 36, 52, 10 
   CONTROL "Screen Flashes", CHK_ADVANCED_SCREEN_FLASHES, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 45, 67, 10 
   CONTROL "Tire Treads", CHK_ADVANCED_TIRE_TREADS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 54, 53, 10 
   CONTROL "Dithering", CHK_ADVANCED_DITHERING, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 63, 46, 10 
   CONTROL "Paletted Textures", CHK_ADVANCED_PALETTED_TEXTURES, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 72, 73, 10 
   CONTROL "Enable 3D Sound", CHK_ADVANCED_3D_SOUND, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_DISABLED | WS_TABSTOP, 12, 81, 0, 0 
   CONTROL "Particles", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 85, 89, 37 
   CONTROL "Min", RDO_ADVANCED_PARTICLES_MIN, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 92, 28, 10 
   CONTROL "Normal", RDO_ADVANCED_PARTICLES_NORM, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 101, 35, 10 
   CONTROL "Lots", RDO_ADVANCED_PARTICLES_LOTS, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 110, 30, 10 
   CONTROL "MipMapping", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 93, 3, 89, 37 
   CONTROL "None", RDO_ADVANCED_MIP_NONE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 11, 33, 10 
   CONTROL "Bilinear", RDO_ADVANCED_MIP_BILINEAR, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 102, 20, 42, 10 
   CONTROL "Trilinear", RDO_ADVANCED_MIP_TRILINEAR, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 102, 29, 43, 10 
   CONTROL "Texture Detail", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 93, 45, 89, 37 
   CONTROL "Low", RDO_ADVANCED_TEXDETAIL_LOW, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 53, 29, 10 
   CONTROL "Med", RDO_ADVANCED_TEXDETAIL_MED, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 102, 62, 35, 10 
   CONTROL "High", RDO_ADVANCED_TEXDETAIL_HIGH, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 102, 71, 31, 10 
   CONTROL "Sound Channels", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 93, 93, 89, 21 
   CONTROL "4", RDO_ADVANCED_SNDCHNLS_4, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 101, 17, 10 
   CONTROL "8", RDO_ADVANCED_SNDCHNLS_8, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 121, 101, 17, 10 
   CONTROL "16", RDO_ADVANCED_SNDCHNLS_16, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 140, 101, 17, 10 
   CONTROL "32", RDO_ADVANCED_SNDCHNLS_32, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 163, 101, 17, 10 
   CONTROL "no sound", RDO_ADVANCED_SNDCHNLS_NONE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_DISABLED, 102, 111, 0, 0 
   CONTROL "Triple Buffer", CHK_ADVANCED_TRIPLE_BUFFER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_DISABLED | WS_TABSTOP, 3, 129, 0, 0 
   CONTROL "DX Texture Manager", CHK_ADVANCED_DX_TEXTUREMANAGER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_DISABLED | WS_TABSTOP, 12, 130, 0, 0 
   CONTROL "&Done", BTN_ADVANCED_DONE, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 129, 179, 14 
   CONTROL "Unlimited Particle size", CHK_ADVANCED_UNLIMITED_PARTICLESIZE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_DISABLED | WS_TABSTOP, 3, 133, 0, 0 
}

// Console Server Setup Dialog
DIAG_CNSL DIALOG 0, 0, 176, 217
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Redline Console Setup"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "", LST_CNSL_MAP_LIST, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 24, 71, 58 
   CONTROL "Add", BTN_CNSL_MAP_ADD, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 86, 35, 14 
   CONTROL "Remove", BTN_CNSL_MAP_REMOVE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 86, 34, 14 
   CONTROL "Clear All", BTN_CNSL_MAP_CLEAR, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 198, 50, 14 
   CONTROL "", EDT_CNSL_GAME_NAME, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 23, 83, 14 
   CONTROL "Teams", CHK_CNSL_TEAMS, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 45, 38, 10 
   CONTROL "Friendly Fire", CHK_CNSL_FRIENDLY_FIRE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 55, 57, 10 
   CONTROL "Team Placement", CHK_CNSL_TEAM_PLACEMENT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 65, 70, 10 
   CONTROL "", EDT_CNSL_KILL_LIMIT, EDIT, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 119, 25, 14 
   CONTROL "", EDT_CNSL_TIME_LIMIT, EDIT, ES_RIGHT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 119, 25, 14 
   CONTROL "TCP/IP", RDO_CNSL_NET_TCP, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 93, 149, 38, 10 
   CONTROL "IPX", RDO_CNSL_NET_IPX, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 134, 149, 27, 10 
   CONTROL "Start Server", BTN_CNSL_START, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 175, 73, 20 
   CONTROL "&Exit", BTN_CNSL_EXIT, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 198, 73, 14 
   CONTROL APP_ICON, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 65, 1, 20, 20 
   CONTROL "Maps", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 12, 19, 8 
   CONTROL "", LST_CNSL_MAP_ORDER, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 117, 71, 75 
   CONTROL "Kill\n Limit", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 102, 25, 19 
   CONTROL "Minute Time Limit", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 130, 102, 37, 19 
   CONTROL "Game Name", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 13, 41, 8 
   CONTROL "Map Play Order", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 107, 52, 8 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 84, 37, 83, 48 
   CONTROL "Network Protocol ", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 84, 138, 83, 22 
   CONTROL "", EDT_CNSL_MAX_PLAYERS, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 87, 40, 14 
   CONTROL "Max Players", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 84, 90, 42, 8 
   CONTROL "Adv. CTF Rules", CHK_CNSL_ADV_CTF_RULES, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91, 75, 66, 10 
   CONTROL "Private", CHK_CNSL_PRIVATE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 163, 51, 10 
}
