#include "resource.h"
#include <windows.h>

APP_ICON ICON "redline.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x40004
FILETYPE 0x1 {
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
            VALUE "CompanyName", "Beyond Games, Inc."
            VALUE "FileDescription", "wheels"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "wheels"
            VALUE "LegalCopyright", "Copyright \xA9 1996"
            VALUE "OriginalFilename", "Wheels.exe"
            VALUE "ProductName", "Beyond Games, Inc. Wheels"
            VALUE "ProductVersion", "1, 0, 0, 1"
        }
    }

    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04B0
    }
}

// Launcher bitmaps
BMP_LAUNCHER_HEADER BITMAP DISCARDABLE "launcher_header.bmp"

BMP_LAUNCHER_QUIT_PRESSED BITMAP "launcher_quit_pressed.bmp"
BMP_LAUNCHER_QUIT BITMAP "launcher_quit.bmp"
BMP_LAUNCHER_PLAY BITMAP "launcher_play.bmp"
BMP_LAUNCHER_PLAY_PRESSED BITMAP "launcher_play_pressed.bmp"
BMP_LAUNCHER_DISPLAY BITMAP "launcher_display.bmp"
BMP_LAUNCHER_DISPLAY_PRESSED BITMAP "launcher_display_pressed.bmp"
BMP_LAUNCHER_TROUBLESHOOT BITMAP "launcher_troubleshoot.bmp"
BMP_LAUNCHER_TROUBLESHOOT_PRESSED BITMAP "launcher_troubleshoot_pressed.bmp"

BMP_LAUNCHER_MPLAYER BITMAP "launcher_mplayer.bmp"
BMP_LAUNCHER_MPLAYER_PRESSED BITMAP "launcher_mplayer_pressed.bmp"
BMP_LAUNCHER_GAMESPY BITMAP "launcher_gamespy.bmp"
BMP_LAUNCHER_GAMESPY_PRESSED BITMAP "launcher_gamespy_pressed.bmp"
BMP_LAUNCHER_HEAT BITMAP "launcher_heat.bmp"
BMP_LAUNCHER_HEAT_PRESSED BITMAP "launcher_heat_pressed.bmp"

// Launcher dialog
DIAG_LAUNCHER DIALOG 0, 0, 195, 207
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Redline"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Arial"
{
   CONTROL "&Play Redline", BTN_LAUNCHER_PLAY, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 89, 191, 29 
   CONTROL BMP_LAUNCHER_HEADER, -1, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 39, 1, 118, 89 
   CONTROL "&display", BTN_LAUNCHER_DISPLAY, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 118, 191, 31 
   CONTROL "&TroubleShooting", BTN_LAUNCHER_TROUBLESHOOT, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 147, 191, 29 
   CONTROL "&quit", BTN_LAUNCHER_QUIT, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 176, 191, 29 
   CONTROL "Play Redline on &mplayer.com!", BTN_LAUNCHER_MPLAYER, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 31, 1, 1 
   CONTROL "Play Redline on &Gamespy", BTN_LAUNCHER_GAMESPY, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 1, 1, 1 
   CONTROL "Play Redline on &heat.com!", BTN_LAUNCHER_HEAT, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_TABSTOP, 120, 60, 1, 1 
}
